.box {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: auto;
  position: relative;
}

@media (min-width: 640px) {
  .box {
    max-height: 70vh;
  }
}

@media (min-width: 1024px) {
  .box {
    width: 42rem;
    max-width: 42rem;
    max-height: none;
    flex: 1;
  }
}
