.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  padding: 0rem 1.1rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 0.7rem;
}
.navLink {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-text);
  font-weight: 500;
  border-radius: 0.6rem;
  /* transition: all 0.3s; */
  padding: 1rem 1.9rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.navIcon {
  font-size: 2rem; /* Slightly larger than text */
  flex-shrink: 0; /* Prevents icon from shrinking */
}
.navLink:hover {
  background-color: var(--color-primary-light);
  color: #fff;
}
.navLink.active {
  background-color: var(--color-text);
  color: var(--color-primary);
  font-weight: 600;
}

@media (min-width: 640px) {
  .navbar {
    padding: 0 2.4rem;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 3.2rem;
    gap: 2rem;
  }
}
